<VirtualHost *:80>
    ServerName www.allacc.tk
    DocumentRoot /var/www/html/AllAcc.tk/public

    # Enable the use of .htaccess files and directives
    <Directory /var/www/html/AllAcc.tk/public>
        AllowOverride all
    </Directory>

    # Add HTTPS redirect
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Other virtual host directives...
</VirtualHost>
