

.noMoreBreak{
    display: -webkit-inline-box;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    display: flex;
}

@font-face {
    font-family: "BeatWord";
    src: url(/font/BeatWord.ttf);
}

@font-face {
    font-family: "BillyHatter";
    src: url(/font/BillyHatter.otf);
}

@font-face {
    font-family: "Calygraphy";
    src: url(/font/Calygraphy.ttf);
}

@font-face {
    font-family: "Gracheva";
    src: url(/font/Gracheva.otf);
}

@font-face {
    font-family: "OldGorgeous";
    src: url(/font/OldGorgeous.otf);
}

@font-face {
    font-family: "OldMe";
    src: url(/font/OldMe.otf);
}

@font-face {
    font-family: "Profont";
    src: url(/font/Profont.ttf);
}
